body {
  height: 100%;
  width: auto;
  overflow: hidden;
  margin: 0;
  padding: 0;
  /*background-repeat: no-repeat;
  background-origin: content-box;*/
}

@media only screen and (max-width: 600px) {
    /* Styles spécifiques pour les appareils mobiles */
    /* Par exemple, augmenter la taille des polices ou ajuster les marges/paddings */
}

/* Définition d'une animation de fondu */
@keyframes fade {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* Appliquer l'animation aux éléments */
.page-transition {
  animation: fade 2s ease-in-out;
  height: 100vh;
}


h1{
  color: #000;
  text-align: center;
  font-family: Lora;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

h2{
  color: #000;
  text-align: center;
  font-family: Lora;
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

h3{
  color: #000;
  text-align: center;
  font-family: Lora;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

p{
  width: 271px;
  height: 59px;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-family: Lora;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

a{
  text-decoration: none;
}

/* ---- DEBUT ------*/


#debut{
  height: 100vh;
  background-image: url('img/fond-debut-v2.jpg');
  background-size: cover;
  background-position: center;
}

.debutitems{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.debutitems img{
  position: relative;
  top: -60px;
}

.debutitems p{
  position: relative;
  top: -40px;
}

.sous-titre-debut{
  position: relative;
  top: -20px;
}

.bouton-debut{
  width: 121px;
  height: 31px;
  flex-shrink: 0;
  background-color: black;
  border-radius: 33px;
  text-align: center;
  font-family: Lora;
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}

.bouton-debut a{
  font-family: Lora;
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}

.debutitems-2{
  height: 530.719px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.liens-phyphox{
  position: relative;
  top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logos-debut{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.logo-apple{
  position: relative;
  left:5px;
}

.phyphox-liens-ecrits{
  width:260px;
  height: 33px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.bouton-suite{
  position: relative;
  top: 185px;
  width: 121px;
  height: 31px;
  flex-shrink: 0;
  background-color: rgba(0,0,0,0.00);
  border-radius: 33px;
  border: 1px solid #000;
  text-align: center;
  font-family: Lora;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}

.bouton-suite a {
  font-family: Lora;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}

.lien-document-phyphox{
  position: relative;
  top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bouton-suite2{
  position: relative;
  top: 62px;
  width: 121px;
  height: 31px;
  flex-shrink: 0;
  background-color: rgba(0,0,0,0.00);
  border-radius: 33px;
  border: 1px solid #000;
  text-align: center;
  font-family: Lora;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}

.bouton-suite2 a {
  font-family: Lora;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}

#debut4{
  height: 100vh;
  background-image: url('img/fond-debut-part2-v2.jpg');
  background-size: cover;
  background-position: center;
}

.debutitems-4{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.debutitems-4 h1{
  color: #FFF;
  text-align: center;
  font-family: Lora;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.debutitems-4 h2{
  color: #FFF;
  text-align: center;
  font-family: Lora;
  font-size: 14px;
  font-style: italic;
  font-weight: 600;
  line-height: normal;
}

/* ---- ACCUEIL ------*/

#accueil{
  height: 100vh;
  background-image: url('img/accueil-fond-sansobj2.jpg');
  background-size: cover;
  background-position: center;

}

.container{
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

#menu{
  height: 10px;
  width: 10px;
  margin: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  z-index: 4;

  border-radius: 50%;

  transition:border-radius .3s linear;
  -moz-transition:border-radius .3s linear;
  -webkit-transition:border-radius .3s linear;
}


#menu.fade{
  border-radius: 0%;
}


.panneau{
  position: absolute;
  height: 100%;
  margin: 0px;
}

#panneau1 {
  z-index: 1;
  width: 80px;
  background-image: url('img/panneau1.png');


  transition: width .3s linear;
  -moz-transition:width .3s linear;
  -webkit-transition:width .3s linear;
}

#panneau1.animation{
  width:100%;
}

#panneau2 {
  z-index: 2;
  width: 60px;
  background-image: url('img/panneau2.png');

  transition: width .3s linear;
  -moz-transition:width .3s linear;
  -webkit-transition:width .3s linear;
  transition-delay: .1s;

}

#panneau2.animation{
  width:98%;
}

#panneau3 {
  z-index: 3;
  width: 45px;
  background-image: url('img/panneau3.png');

  transition: width .3s linear;
  -moz-transition:width .3s linear;
  -webkit-transition:width .3s linear;
transition-delay: .3s;


}

#panneau3.animation{
  width:96%;
}

#menu-texte {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  opacity: 0;
  transition: opacity .3s ease-in-out;
  transition-delay: .3s;


}

#menu-texte.animation {
    opacity: 100;
}

#menu-texte h1{
  font-size: 30px;
}

#menu-texte h2{
  font-size: 20px;
}

.accueil-items{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accueil-items a{
  width: auto;
  height: auto;
  padding: 0px;
  margin: 0px;
  position: absolute;
  top: -360px;
  left: -200px;

}

.accueil-text{
/*  width:174px;*/
  position: absolute;
  top: -200px;
  left: -50px;
}


.tennis{
  width: 191px;
  height: 257px;
  flex-shrink: 0;
  border-radius: 95.5px;
  position: absolute;
  top: 500px;
  left: 35px;
}

.eau{
  width: 167px;
  height: 154px;
  flex-shrink: 0;
  position: absolute;
  top: 231px;
  left: 0px;
}

.capteurs{
  width: 216px;
  height: 250px;
  flex-shrink: 0;
  position: absolute;
  top: 445px;
  left: 170px;
}

.basket{
  width: 107px;
  height: 112px;
  flex-shrink: 0;
  border-radius: 53.5px;
  position: absolute;
  top: 492px;
  left: 219px;
}

.ondes{
  width: 121px;
  height: 147px;
  flex-shrink: 0;
  position: absolute;
  top: 49px;
  left: 54px;
}

.regle{
  width: 104px;
  height: 122px;
  flex-shrink: 0;
  position: absolute;
  top: 51px;
  left: 153px;
}

.rapporteur{
  width: 96px;
  height: 87px;
  flex-shrink: 0;
  position: absolute;
  top: 341px;
  left: 223px;
}

/* ---- SAUT-PAGE ------*/

#saut-page{
  height: 100vh;
  padding: 0px;
  margin: 0px;
  background-image: url('img/accueil-fond-sansobj2.jpg');
  background-size: cover;
  background-position: center;

}

.saut-items{
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -35%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.regle-saut{

}

.saut-text{
/*  width:174px;*/

}

.img-phyphox-saut{
  position: relative;
  top: -30px;
}

.bouton-saut{
  width: 121px;
  height: 31px;
  flex-shrink: 0;
  background-color: black;
  border-radius: 33px;
  text-align: center;
  font-family: Lora;
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: relative;
  top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}

.bouton-saut a{
  font-family: Lora;
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}

.saut-calcul{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#inputNumber {
  width: 202px;
  height: 31px;
  background-color: #FFF;
  outline: none;
  border: none;
  border-radius: 33px;
  font-family: Lora;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  position: relative;
  top: 50px;
  display: flex;
  justify-content: center; /* Centrer horizontalement */
  align-items: center; /* Centrer verticalement */
  /* padding: 0; */ /* Assurez-vous qu'aucun padding n'interfère */
  margin: auto; /* Si besoin, pour centrer horizontalement */
}


.bouton-saut2{
  width: 121px;
  height: 31px;
  flex-shrink: 0;
  background-color: black;
  border-radius: 33px;
  text-align: center;
  font-family: Lora;
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: relative;
  top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}

#resultat{
  width: 184px;
  height: 34px;
  position: relative;
  top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-family: Lora;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#record{
  display: flex;
  width: 166px;
  height: 34px;
  flex-direction: column;
  justify-content: center;
  position: relative;
  top: 45px;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-family: Lora;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.saut-sarah-saut{
  width: 230px;
  flex-shrink: 0;
  position: relative;
  top: 60px;
}

.retour-sac{
  width: 160px;
  flex-shrink: 0;
  border-radius: 273px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  top: 60px;
}

/* ---- SPORT-PAGE ------*/


/*#sport{
  height: 100vh;
  background-image: url('img/accueil-fond-sansobj2.jpg');
  background-size: cover;
  background-position: center;
}

.sport-items{
  position: absolute;
  top: 0%;
  left: 45%;
  transform: translate(-45%, 0%);
  display: flex;
  flex-direction: column;
  align-items: center;
}*/

/*

.sous_box:hover{
  width: 600px;
}
#mesure{
background: url(img/saut.png);
}

#sport{
  src: url(img/sport.png);

}

#hydratation{
  src: url(img/hydratation.png);
}

#item4{
  src: url(img/item4.png);
}
