/* ---- SAUT-PAGE ------*/

#saut{
  height: 100vh;
  background-image: url('img/fond-saut.jpg');
  background-size: cover;
  background-position: center;

}

.saut-items{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.regle-saut{

}

.saut-text2 p{
  height: 40px;

}

.sarah-saut{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 100px;
  margin-bottom: 40px;
}

.bouton-saut-sarah {
  margin: 5px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #FFF;
/*  border: 1px solid #000;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;

}

#changerImageBtn{
  padding: 30px;
  font-family: Lora;
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}

.mesure{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.objets-mesure{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.objets-mesure img{
  width: 90px;
  height: auto;
  cursor: pointer;
}

.main-content{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main-content p{
  height: 60px;
  width: 120px;
  margin: 0;
}

.mesure{
  padding: 40px;
}


.bouton-saut{
  width: 121px;
  height: 31px;
  flex-shrink: 0;
  background-color: black;
  border-radius: 33px;
  text-align: center;
  font-family: Lora;
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: relative;
  top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}

.bouton-saut a{
  font-family: Lora;
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}


#messageBox {
  display: none; /* Masquer les détails par défaut */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  padding-bottom: 30px;
  border: 1px solid #ccc;
  z-index: 999;
}

#messageBox p{
  height: 36px;
  width: 270px;
  padding: 0px;
}

#messageBox img{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
}

.bouton-saut2{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: 10px;
  width: 121px;
  height: 31px;
  background-color: black;
  border-radius: 33px;
  text-align: center;
  font-family: Lora;
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bouton-saut2 a{
  font-family: Lora;
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
  text-align: center;

}
